/* Overrides */

body,
html {
  font-family: IBM Plex Sans !important;
  font-size: 14px;
  font-weight: normal !important;
  color: #232735 !important;
}

#treten {
  .navbar-light .navbar-nav .nav-link {
    color: #232735;
  }

  .ant-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 0;
    background: #fff;
  }

  .container-fluid {
    padding: 0px 50px !important;
  }

  .ant-form-explain {
    margin-top: 2px;
  }

  .card-img {
    height: 28.5vw;
    object-fit: cover;
    max-height: 325px;
  }

  .ant-btn-lg,
  .ant-input-lg {
    font-size: 14px;
  }

  .ant-input {
    // border: 1px solid #d3d4d8;

    background: white;
    border: 1px solid #cccccc;
  }

  .slick-slide {
    padding: 10px;
  }

  .banner .slick-slide {
    padding: 0px;
  }

  .slick-dots li button:before {
    font-size: 25px !important;
  }

  .slick-dots {
    bottom: -50px;
  }

  .slick-dots li.slick-active button:before {
    opacity: .75;
    color: #e12828;
  }

  .slick-dots li button:before {
    color: rgba(225, 40, 40, 0.67);
  }

//   .slick-list {
//     min-height: 300px;
//   }

  .react-tel-input input[type=text],
  .react-tel-input input[type=tel] {
    width: 100% !important;
  }

  .slick-slider {
    /* width: 1550px;
        position: initial;
        height: 400px;
        margin-bottom: 50px; */
  }

  .slider-wrapper {
    /* width: 1360px;
        overflow: hidden;
        position: relative; */
  }

  .slick-prev:before{
    display: none !important
  }

  .slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 28px;
    color: black !important;
  }

  /* .slick-list{padding:0 20% 0 0;} */

  /* .slick-list {
        overflow: visible;
      } */

  label {
    margin-bottom: 0px !important;
  }

  input,
  textarea {
    border: 1px solid #f0f1f3;
  }

  input {
    height: 40px !important;
  }

  a {
    color: #232735;
    text-decoration: none !important;
  }

  p {
    font-size: 16px;
  }

  /* COMPONENTS */

  .facebook-btn,
  .facebook-btn:active,
  .facebook-btn:focus,
  .facebook-btn:hover {
    width: 160px;
    height: 40px;
    background: #3c5a99 !important;
    border-radius: 4px;
    border-color: #3c5a99 !important;
    text-align: left;
    color: white !important;
    line-height: 38px !important;
  }

  .facebook-btn img,
  .linkedin-btn img {
    height: 19px;
  }

  .linkedin-btn,
  .linkedin-btn:active,
  .linkedin-btn:hover {
    width: 160px;
    height: 40px;
    background: #0077b5 !important;
    border-radius: 4px;
    border-color: #0077b5 !important;
    text-align: left;
    color: white !important;
    line-height: 38px !important;
  }

  /* SEARCH */
  .search .ant-input-search {
    height: 60px !important;
    padding-right: 11px;
    background: white;
    border-radius: 4px;
  }

  .search .ant-input-wrapper,
  .search .ant-input-lg {
    height: 60px !important;
    border: 0px !important;
  }

  .search .ant-input-group-addon {
    position: relative;
    padding: 0 11px !important;
    background: white;
  }

  .search button.ant-btn.ant-input-search-button.ant-btn-primary.ant-btn-lg {
    border-radius: 5px;
    width: 90px;
    background: #e12828;
    border-color: #e12828;
  }
  /* SEARCH END */

  /* COMPONENTS END */

  .ant-btn-primary-disabled,
  .ant-btn-primary.disabled,
  .ant-btn-primary[disabled],
  .ant-btn-primary-disabled:hover,
  .ant-btn-primary.disabled:hover,
  .ant-btn-primary[disabled]:hover,
  .ant-btn-primary-disabled:focus,
  .ant-btn-primary.disabled:focus,
  .ant-btn-primary[disabled]:focus,
  .ant-btn-primary-disabled:active,
  .ant-btn-primary.disabled:active,
  .ant-btn-primary[disabled]:active,
  .ant-btn-primary-disabled.active,
  .ant-btn-primary.disabled.active,
  .ant-btn-primary[disabled].active {
    color: rgba(255, 255, 255, 0.72);
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1160px !important;
    }
  }

  @media (min-width: 1440px) {
    .container {
      max-width: 1310px !important;
    }
  }

  @media (max-width: 960px) {
    html,
    body {
      font-size: 12px;
    }
  }

  @media (max-width: 768px) {
    html,
    body {
      font-size: 10px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 820px;
    }
  }

  @media (min-width: 992px) {
    .container {
      max-width: 1100px;
    }
  }

  @media (max-width: 567px) {
    html,
    body {
      font-size: 8px;
    }
  }
}

