/* BLOG */

.blog-pagination .ant-pagination-item-active {
  font-weight: 500;
  background: #222829;
  border-color: #222829;
  color: white;
}

.related-link {
 border-bottom: 1px solid #E12828;
}

/* BLOG END */